/*basic grid*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: verdana;
}
body {
	background: #f1f5be;
}
.container-fluid {
	position: relative;
	width: 100%;
	/*height: 100%;*/
}
.row-fluid {
	position: relative;
	width: 100%;
}
.row-fluid > [class^="span"] {
    position: relative;
	float: left;
}
.row-fluid > [class^="span"] {
    min-height: 5px;
}
/*.row-fluid > [class^="span"]:last-child:after {*/
	/*display: table;*/
	/*clear: both;*/
/*}*/
.row-fluid {
	width: 100%;
	*zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}

.row-fluid:after {
	clear: both;
}
.span12 {
	width: 100%;
}
.span11 {
	width: 91.66%;
}
.span10 {
	width: 83.33%;
}
.span9 {
	width: 75%;
}
.span8 {
	width: 66.66%;
}
.span7 {
	width: 58.33%;
}
.span6 {
	width: 50%;
}
.span5 {
	width: 41.66%;
}
.span4 {
	width: 33.33%;
}
.span3 {
	width: 25%;
}
.span2 {
	width:16.66%;
}
.span1half { /* 1.5 */
	width:12.5%;
}
.span1 {
	width: 8.33%;
}
.offset12 {
	margin-left: 100%;
}
.offset11 {
	margin-left: 91.66%;
}
.offset10 {
	margin-left: 83.33%;
}
.offset9 {
	margin-left: 75%;
}
.offset8 {
	margin-left: 66.66%;
}
.offset7 {
	margin-left: 58.33%;
}
.offset6 {
	margin-left: 50%;
}
.offset5 {
	margin-left: 41.66%;
}
.offset4 {
	margin-left: 33.33%;
}
.offset3 {
	margin-left: 25%;
}
.offset2 {
	margin-left:16.66%;
}
.offset1 {
	margin-left: 8.33%;
}
.text-center {
	text-align: center;
}


/*main layer*/
.event-wrapper {
	display: inline-block;
	width: 100%;
	background: #5DA35A;
}
.event {
}
.event-hat {
	background: #C0FFFD;
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
}
.event-hat img{
	display: inline-block;
	margin: 0 10px;
	width: 20px;
	height: 20px;
}

.bets-group-caption {
	background: whitesmoke;
	color: #000000;
}

.bettype-wrapper {
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;

}

.bettype-caption {
	background: #C0FFFD;
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
	text-align: center;
	color: #42535F;
}
.markets {
	/*background: #5DA35A;*/
}
.odd {
	background: rgb(63, 105, 63);
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
}
.odd:last-child {
}
.outcome {
	background: #58A583;
	color: white;
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
	text-align: center;
}
.castcode {
	text-align: center;
	color: #feaa57;
}
.coef {
	text-align: center;
	color: #ffff00;
}
.span2.event-information {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #97f6c0;
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
}
.event-information div{
	box-shadow: inset 1px 0px 12px rgba(0, 0, 0, 0.3), inset 3px 3px 3px rgba(255, 255, 255, 0.1), inset -3px 0px 3px rgba(0, 0, 0, 0.3), inset -7px -17px 15px rgba(255, 255, 255, 0.1) ;
}
.event-information .begin {
	color: #7A563D;
}
.event-information .competitors {
	text-align: center;
	color: #42535F;
}
.event-information .time-left {
}

.event-information .score {
}
.event-information .match-part {
	margin-top: 30%;
	font-size: 40px;
	color: #717948;
	box-shadow: none;
	text-align: center;
}

/*.break-line {*/
	/*height: 4px;*/
	/*background: #00705A;*/
/*}*/


.bettype-wrapper.open {
	display: block;
}
.bettype-wrapper {
	display: none;
}
.market-wrapper.open {
	display: block;
}
.market-wrapper {
	display: none;
}
.bet.open {
	visibility: visible;
}
.bet {
	visibility: hidden;
}











