<div class="container-fluid event">

<div class="row-fluid bets-wrapper">
<div class="span3">

	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="span3">

	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="span3">
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bettype-wrapper container-fluid">
		<div class="bettype-caption row-fluid">Основні підсумки</div>
		<div class="markets container-fluid">
			<div class="market-wrappers row-fluid">
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
				<div class="span4 odd">
					<div class="row-fluid">
						<div class="span2 outcome">1</div>
						<div class="span5 castcode">|228|</div>
						<div class="span5 coef">8.88</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
