<div class="row-fluid bets-group-caption">1 Тайм</div>
<div class="row-fluid foootbal-firsttime-bets">
<div class="container-fluid bets-wrapper">
<div class="row-fluid">

<div class="span9">
<div class="container-fluid">
<div class="row-fluid">
<div class="span8">
<div class="container-fluid">
<div class="row-fluid">
	<div class="span6">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Основні підсумки</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">X</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Подвійні підсумки</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1Х</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">12</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span4 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2Х</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Кількість голів 1го тайму</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">3</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">4+</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Обидві заб'ють</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span12 odd">
						<div class="row-fluid">
							<div class="span3 outcome">Так</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span12 odd">
						<div class="row-fluid">
							<div class="span3 outcome">Ні</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Кількість голів 1к 1 таймі</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">3+</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Кількість голів 2к 1 таймі</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span3 odd">
						<div class="row-fluid">
							<div class="span3 outcome">3+</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="span4">
	<div class="row-fluid">
		<div class="span12">
			<div class="bettype-wrapper container-fluid">
				<div class="bettype-caption row-fluid">Фора</div>
				<div class="markets container-fluid">
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф1 -2.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф2 +2.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф1 -1.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф2 +1.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф1 +1.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Ф2 -1.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="bettype-wrapper container-fluid">
				<div class="bettype-caption row-fluid">Індивідуальний тотул 1к</div>
				<div class="markets container-fluid">
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Б 2.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">М 2.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Б 3.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">М 3.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="market-wrappers row-fluid">
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">Б 4.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
						<div class="span6 odd">
							<div class="row-fluid">
								<div class="span5 outcome">М 4.0</div>
								<div class="span3 castcode">|228|</div>
								<div class="span4 coef">8.88</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>
</div>
<div class="span3">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="bettype-wrapper container-fluid">
					<div class="bettype-caption row-fluid">Тотул</div>
					<div class="markets container-fluid">
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 2.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 2.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 3.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 3.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 4.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 4.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="bettype-wrapper container-fluid">
					<div class="bettype-caption row-fluid">Індивідуальний тотул 2к</div>
					<div class="markets container-fluid">
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 2.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 2.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 3.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 3.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
						<div class="market-wrappers row-fluid">
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">Б 4.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
							<div class="span6 odd">
								<div class="row-fluid">
									<div class="span5 outcome">М 4.0</div>
									<div class="span3 castcode">|228|</div>
									<div class="span4 coef">8.88</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Точний рахунок</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0:0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0:1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0:2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1:0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1:1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">1:2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2:0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2:1</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">2:2</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">3:0</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">0:3</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
					<div class="span2 odd">
						<div class="row-fluid">
							<div class="span3 outcome">Інший</div>
							<div class="span4 castcode">|228|</div>
							<div class="span5 coef">8.88</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
