
<div class="container-fluid">
<div class="row-fluid break-line"></div>
<%= this.renderHat() %>
<div class="row-fluid foootbal-main-bets">
<div class="span2 event-information">
</div>
<div class="span2 offset2">
	<div class="row-fluid">
		<% if (bettypes[1]) { %>
		<div class="container-fluid bettype-wrapper <%= bettypes[1].status %>" bettype="1">
			<div class="row-fluid bettype-caption"><%= bettypes[1].name %></div>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[1].markets, 3) %>
			</div>
		</div>
		<% } %>
	</div>
	<div class="row-fluid">
		<% if (bettypes[3]) { %>
		<div class="container-fluid bettype-wrapper <%= bettypes[3].status %>" bettype="3">
			<div class="row-fluid bettype-caption"><%= bettypes[3].name %></div>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[3].markets, 3) %>
			</div>
		</div>
		<% } %>
	</div>
</div>
<div class="span2">
	<% if (bettypes[10]) { %>
	<div class="container-fluid bettype-wrapper <%= bettypes[10].status %>" bettype="10">
		<div class="row-fluid bettype-caption"><%= bettypes[10].name %></div>
		<div class="container-fluid markets">
			<%= this.renderMarket(bettypes[10].markets, 2, 'foraTemplate') %>
		</div>
	</div>
	<% } %>
</div>
<div class="span2">
	<% if (bettypes[12]) { %>
	<div class="container-fluid bettype-wrappe <%= bettypes[12].status %>r" bettype="12">
		<div class="row-fluid bettype-caption"><%= bettypes[12].name %></div>
		<div class="container-fluid markets">
			<%= this.renderMarket(bettypes[12].markets, 2, 'foraTemplate') %>
		</div>
	</div>
	<% } %>
</div>
<div class="span2">
	<% if (bettypes[33]) { %>
	<div class="container-fluid bettype-wrapper <%= bettypes[33].status %>" bettype="33">
		<div class="row-fluid bettype-caption"><%= bettypes[33].name %></div>
		<div class="container-fluid markets">
			<%= this.renderMarket(bettypes[33].markets, 2) %>
		</div>
	</div>
	<% } %>
</div>
<div class="span1">
	<% if (bettypes[102]) { %>
	<div class="container-fluid bettype-wrapper <%= bettypes[102].status %>" bettype="102">
		<div class="row-fluid bettype-caption"><%= bettypes[102].name %></div>
		<div class="container-fluid markets">
			<%= this.renderMarket(bettypes[102].markets, 1) %>
		</div>
	</div>
	<% } %>
</div>
<div class="span1">
	<% if (bettypes[103]) { %>
	<div class="container-fluid bettype-wrapper <%= bettypes[103].status %>" bettype="103">
		<div class="row-fluid bettype-caption"><%= bettypes[103].name %></div>
		<div class="container-fluid markets">
			<%= this.renderMarket(bettypes[103].markets, 1) %>
		</div>
	</div>
	<% } %>
</div>
	<%= this.renderTimeBets(event.status_code) %>
</div>
</div>
