
<div class="row-fluid tennis-set-bets">
	<div class="span2 event-information">
		<div class="container-fluid">
			<div class="row-fluid">
				1 Сет
			</div>
		</div>
	</div>
	<div class="span2 offset2">
		<div class="row-fluid">
			<% if (bettypes[4]) { %>
			<div class="container-fluid bettype-wrapper" bettype="4">
				<div class="row-fluid bettype-caption"><%= bettypes[4].name %></div>
				<div class="container-fluid markets">
					<%= this.renderMarket(bettypes[4].markets, 3) %>
				</div>
			</div>
			<% } %>
			<div class="bettype-wrapper container-fluid">
				<div class="bettype-caption row-fluid">Тотул матчу</div>
				<div class="markets container-fluid">
					<div class="market-wrappers row-fluid">
						<div class="span6 bet">
							<div class="container-fluid">
								<div class="row-fluid  outcome">Парний</div>
								<div class="row-fluid odd">
									<div class="span4 castcode">|228|</div>
									<div class="span8 coef">8.88</div>
								</div>
							</div>
						</div>
						<div class="span6 bet">
							<div class="container-fluid">
								<div class="row-fluid  outcome">Непарний</div>
								<div class="row-fluid odd">
									<div class="span4 castcode">|228|</div>
									<div class="span8 coef">8.88</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span2">
		<div class="bettype-wrapper container-fluid">
			<div class="bettype-caption row-fluid">Тотул</div>
			<div class="markets container-fluid">
				<div class="market-wrappers row-fluid">
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">Б 2.0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">М 2.0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
				</div>
				<div class="market-wrappers row-fluid">
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">Б 1.0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">М 1.0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
				</div>
				<div class="market-wrappers row-fluid">
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">Б 0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
					<div class="span6 bet">
						<div class="container-fluid">
							<div class="row-fluid  outcome">М 0</div>
							<div class="row-fluid odd">
								<div class="span4 castcode">|228|</div>
								<div class="span8 coef">8.88</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
