
<div class="container-fluid">
<div class="row-fluid tennis-main-bets">
<div class="span2 event-information">
	<div class="row-fluid event-hat">
		<div class="span6 event-num"><img src="img/sport_3.png"><%= event_num %></div>
		<div class="span6 event-status"><%= event.starttime %></div>
	</div>
	<div class="row-fluid competitors text-center"> <%= event.competitors.home.name %> - <%= event.competitors.away.name %> </div>
	<div class="row-fluid score text-center"> <%= event_stat.score %></div>
	<div class="row-fluid status text-center"><%= event.status %></div>
</div>
<div class="span2 offset2">
	<div class="row-fluid">
		<div class="container-fluid bettype-wrapper" bettype="2">
			<div class="row-fluid bettype-caption">Основні підсумки</div>
			<% if (bettypes[2]) { %>
				<div class="container-fluid markets">
					<%= this.renderMarket(bettypes[2].markets, 2) %>
				</div>
			<% } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="container-fluid bettype-wrapper" bettype="122">
			<div class="row-fluid bettype-caption">Кільк. сетів з 3</div>
			<% if (bettypes[122]) { %>
				<div class="container-fluid markets">
					<%= this.renderMarket(bettypes[122].markets, 2) %>
				</div>
			<% } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="container-fluid bettype-wrapper" bettype="128">
			<div class="row-fluid bettype-caption">Кільк. сетів з 5</div>
			<% if (bettypes[128]) { %>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[128].markets, 3) %>
			</div>
			<% } %>
		</div>
	</div>
</div>
<div class="span2">
	<div class="container-fluid bettype-wrapper" bettype="79">
		<div class="row-fluid bettype-caption">Фора</div>
		<% if (bettypes[79]) { %>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[79].markets, 2, 'useForaTemplate') %>
			</div>
		<% } %>
	</div>
</div>
<div class="span2">
	<div class="container-fluid bettype-wrapper" bettype="80">
		<div class="row-fluid bettype-caption">Тотул</div>
		<% if (bettypes[80]) { %>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[80].markets, 2, 'useForaTemplate') %>
			</div>
		<% } %>
	</div>
</div>
<div class="span2">
	<div class="container-fluid bettype-wrapper" bettype="9">
		<div class="row-fluid bettype-caption">Рахунок матчу з 5</div>
		<% if (bettypes[9]) { %>
			<div class="container-fluid markets">
				<%= this.renderMarket(bettypes[9].markets, 2) %>
			</div>
		<% } %>
	</div>
</div>
<div class="span2">
	<div class="row-fluid">
		<div class="container-fluid bettype-wrapper" bettype="80">
			<div class="row-fluid bettype-caption">Рахунок матчу з 3</div>
			<% if (bettypes[8]) { %>
				<div class="container-fluid markets">
					<%= this.renderMarket(bettypes[8].markets, 2) %>
				</div>
			<% } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="container-fluid bettype-wrapper" bettype="121">
			<div class="row-fluid bettype-caption">Тотул пар/непар</div>
			<% if (bettypes[121]) { %>
				<div class="container-fluid markets">
					<%= this.renderMarket(bettypes[121].markets, 2) %>
				</div>
			<% } %>
		</div>
	</div>
</div>
</div>
</div>
